/* https://cloudninja.pw/docs/wofi.html */

@import url("../../.cache/wal/colors.css");

window {
    border: 2px solid transparent;
    background:
        /* Background */
        linear-gradient(--wofi-color0, --wofi-color0) padding-box,
        /* Border */
        linear-gradient(to right, --wofi-color3, --wofi-color4, --wofi-color5, --wofi-color6) border-box;
	border-radius: 8px;
}

#input {
    border: 1px solid --wofi-color5;
    background-color: #555555;
    font-size: 18px;
    border-radius: 4px;
}

#inner-box {
	/*border:none;*/
}

#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #ccc;
}

#scroll label {
    margin: 2px 0px;
}

#entry:selected {
	border: 2px solid transparent;
    border-radius: 4px;
	background:
        /* Background */
        linear-gradient(--wofi-color12, --wofi-color12) padding-box,
        /* Border */
        linear-gradient(to right, --wofi-color3, --wofi-color4, --wofi-color5, --wofi-color6) border-box;
    color: black;
}

#text {
    border: 0px;
}

#img {
	margin-right: 10px;
}
