/* https://cloudninja.pw/docs/wofi.html */

window {
    border: 2px solid transparent;
    background:
        /* Background */
        linear-gradient(rgba(24, 24, 24, 1), rgba(24, 24, 24, 1)) padding-box,
        /* Border */
        linear-gradient(to right, rgba(51, 204, 255, 0.93), rgba(0, 255, 153, 0.93)) border-box;
	border-radius: 8px;
}

#input {
    border: 1px solid white;
    background-color: #555555;
    font-size: 18px;
    border-radius: 4px;
}

#inner-box {}

#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #ccc;
}

#scroll label {
    margin: 2px 0px;
}

#entry:selected {
	border: 1px solid transparent;
    border-radius: 4px;
	background:
        /* Background */
        linear-gradient(rgba(68, 68, 68, 1), rgba(68, 68, 68, 1)) padding-box,
        /* Border */
        linear-gradient(to right, rgba(51, 204, 255, 0.93), rgba(0, 255, 153, 0.93)) border-box;
    color: black;
}

#text {
    border: 0px;
}

#img {
	margin-right: 10px;
}
