/*@import url("../../.cache/wal/colors-waybar.css");*/

/********************************************************************************/
/*                                                                              */
/*  This config has been written by angelobdev                                  */
/*  It should be used in a properly configured Hyprland environment.            */
/*                                                                              */
/*  Look at the full configuration here: https://github.com/angelobdev/dotfiles */
/*                                                                              */
/*  The project (as well as this config) goes under the GNU GPLv3 LICENSE.      */
/*                                                                              */
/********************************************************************************/

/* Waybar Style */

* {
  font-family: "FiraCode Nerd Font", "Symbols Nerd Font", sans-serif;
  font-size: 0.9rem;
  color: white;
  margin: 0 2px;
  padding: 0;
}

window#waybar {
  background: transparent;
  border: 0;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty {
  background: #333;
}

window#waybar.empty #window {
  padding: 0px;
}

tooltip {
  background: #333;
  border: 1px solid white;
  color: white;
}

/* Modules Box */
.modules-left,
.modules-center,
.modules-right {
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: #333;
}

.modules-left {
  padding: 0px 4px;
}

.modules-center {
  padding: 0;
}

.modules-right {
  padding: 0px 8px;
}

/* ### PER-MODULE CUSTOMIZATIONS ### */

/* Workspaces */
#workspaces {
  padding: 2px;
  margin: 0;
}

#workspaces button {
  background: transparent;
  color: white;
  padding: 0;
  margin: 0;
}

#workspaces button:hover {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

#workspaces button.active {
  background: rgba(209, 199, 15, 0.2);
  border: none;
  padding: 0;
  margin: 0;
}

#workspaces button.persistent {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

/* Clock */
#clock {
  padding: 0 4px 0 0;
  margin: 0;
  color: white;
  border-left: 1px solid white;
}

/* UPower (Battery) */
#upower {
  padding: 0 6px;
  margin: 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#upower image {
  color: rgb(33, 177, 199);
}

/* Group Hardware */
#temperature {
  color: rgba(253, 255, 121, 0.5);
}

#cpu {
  color: rgba(255, 174, 120, 0.5);
}

#memory {
  color: rgba(121, 255, 230, 0.5);
}

#disk {
  color: rgba(246, 193, 255, 0.502);
}

/* Controls */
#custom-controls-label {
  color: #5294e2;
  padding: 0 0.2rem 0 0.5rem;
}

#custom-silent {
  padding: 0px 12px;
}

#power-profiles-daemon {
  padding: 0px 8px;
}

#idle_inhibitor {
  padding: 0px 8px;
}

/* Tray */
#tray {
  padding: 0px 2px 0 6px;
}

#tray menu {
  background: #333;
  border: 1px solid white;
  padding: 0.4rem 0.2rem;
}

/* Volume */
#wireplumber {
  padding-right: 10px;
}

/* Power options */
#custom-poweroff {
  color: rgb(225, 83, 83);
}

#custom-reboot {
  color: rgb(219, 144, 64);
}

#custom-suspend {
  color: rgb(240, 243, 89);
}

#custom-logout {
  color: rgb(108, 199, 117);
}

#custom-lock {
  color: rgb(94, 172, 220);
}

#custom-poweroff,
#custom-reboot,
#custom-lock,
#custom-suspend,
#custom-logout {
  padding: 0px 6px;
}

#custom-poweroff {
  margin: 4px -2px 4px 0;
}

#custom-reboot,
#custom-lock,
#custom-suspend,
#custom-logout {
  margin: 4px 4px;
}

#custom-poweroff:hover,
#custom-reboot:hover,
#custom-lock:hover,
#custom-suspend:hover,
#custom-logout:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.4rem;
  transition: 0.2s;
}
