/*@import url("../../.cache/wal/colors-waybar.css");*/

/********************************************************************************/
/*                                                                              */
/*  This config has been written by angelobdev                                  */
/*  It should be used in a properly configured Hyprland environment.            */
/*                                                                              */
/*  Look at the full configuration here: https://github.com/angelobdev/dotfiles */
/*                                                                              */
/*  The project (as well as this config) goes under the GNU GPLv3 LICENSE.      */
/*                                                                              */
/********************************************************************************/

/* Waybar Style */

* {
  border: none;
  border-radius: 0px;

  font-family: "FiraCode Nerd Font", "Symbols Nerd Font", sans-serif;
  font-size: 0.9rem;

  background: transparent;
  color: white;

  padding: 0;
  margin: 0 2px;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid white;
}

window#waybar.hidden {
  opacity: 0.5;
}

window#waybar.empty {
  background: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

tooltip {
  background: rgba(0, 0, 0, 0.8);

  border: 1px solid white;
  border-radius: 0.4rem;

  color: white;
}

/* Modules Box */
.modules-left,
.modules-center,
.modules-right {
  margin: 0;
}

.modules-left {
  padding: 0px 2px;
}

.modules-center {
  padding: 0px 4px;
}

.modules-right {
  padding: 0px 2px;
}

/* ### PER-MODULE CUSTOMIZATIONS ### */

/* # Left Modules # */

/* Workspaces */
#workspaces {
  padding: 0 8px 0 2px;
  border-right: 1px solid white;
}

#workspaces button {
  background: transparent;
  color: white;

  padding: 0px 2px;
  margin: 0;

  transition: 0.2s;
}

#workspaces button:hover {
  background: transparent;
}

#workspaces button.active {
  transition: 0.2s;
}

#workspaces button.persistent {
  background: transparent;
}

/* Clock */
#clock {
  /* border-bottom: 1px solid white; */
  border-right: 1px solid white;
  padding: 0 12px 0 0;
  margin: 0;
  color: rgb(164, 90, 213);
}

/* UPower (Battery) */
#upower {
  /* border-bottom: 1px solid white; */
  border-right: 1px solid white;
  padding: 0 6px 0 0;
  margin: 0;
}

#upower image {
  color: rgb(33, 177, 199);
}

/* Group Hardware */
#temperature {
  color: rgba(253, 255, 121, 0.5);
}

#cpu {
  color: rgba(255, 174, 120, 0.5);
}

#memory {
  color: rgba(121, 255, 230, 0.5);
}

#disk {
  color: rgba(246, 193, 255, 0.502);
}

/* # Center Modules # */

/* # Right Modules # */

/* Controls */
#custom-controls-label {
  color: rgb(255, 217, 0);
}

#custom-silent {
  padding: 0px 12px;
}

#power-profiles-daemon {
  padding: 0px 8px;
}

#idle_inhibitor {
  padding: 0px 8px;
}

/* Tray */
#tray {
  /* border-bottom: 1px solid white; */
  padding: 0px 2px 0 6px;
  border-left: 1px solid white;
}

#tray menu {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem;
  border: none;
}

/* Volume */
#wireplumber {
  border-right: 1px solid white;
  padding-right: 10px;
}

/* Power options */

#custom-poweroff {
  color: rgb(225, 83, 83);
}

#custom-reboot {
  color: rgb(219, 144, 64);
}

#custom-suspend {
  color: rgb(240, 243, 89);
}

#custom-logout {
  color: rgb(108, 199, 117);
}

#custom-lock {
  color: rgb(94, 172, 220);
}

#custom-poweroff,
#custom-reboot,
#custom-lock,
#custom-suspend,
#custom-logout {
  padding: 0px 6px;
  border-radius: 0.4rem;
}

#custom-poweroff {
  margin: 4px 0px;
}

#custom-reboot,
#custom-lock,
#custom-suspend,
#custom-logout {
  margin: 4px 4px;
}

#custom-poweroff:hover,
#custom-reboot:hover,
#custom-lock:hover,
#custom-suspend:hover,
#custom-logout:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}

/* #custom-poweroff {
  color: @color1;
}

#custom-reboot {
  color: @color3;
}

#custom-lock {
  color: @color4;
}

#custom-logout {
  color: @color5;
} */

#user {
  border-right: 1px solid white;
  padding-right: 8px;
}
