@import url("../../.cache/wal/colors-waybar.css");

/********************************************************************************/
/*                                                                              */
/*  This config has been written by angelobdev                                  */
/*  It should be used in a properly configured Hyprland environment.            */
/*                                                                              */
/*  Look at the full configuration here: https://github.com/angelobdev/dotfiles */
/*                                                                              */
/*  The project (as well as this config) goes under the GNU GPLv3 LICENSE.      */
/*                                                                              */
/********************************************************************************/

* {
  border: none;
  border-radius: 0px;

  font-family: Roboto, FontAwesome, sans-serif;
  font-size: 0.8rem;

  background: transparent;

  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
  
  padding: 0;
  margin: 0;
  
  color: @theme_text_color;
}

window#waybar.hidden {
  opacity: 0.5;
}
window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  border: 0px;
  
  background-color: transparent;
}

tooltip {
  background:
  /* Background */ linear-gradient(@theme_base_color, @theme_base_color)
      padding-box,
    /* Border */ linear-gradient(to right, @color3, @color4, @color5, @color6)
      border-box;

  border: 1px solid transparent;
  border-radius: 0.8em;

  color: @theme_text_color;
}

/* Modules Box */
.modules-left,
.modules-center,
.modules-right {
  background:
        /* Background */ linear-gradient(@theme_base_color, @theme_base_color)
      padding-box,
    /* Border */ linear-gradient(to right, @color3, @color4, @color5, @color6)
      border-box;

  border: 1px solid transparent;
  border-radius: 12px;

  margin: 2px 4px 0px 4px;
}

.modules-left {
  padding: 0px 2px 0px 2px;
}

.modules-center {
  padding: 0px 4px 0px 4px;
}

.modules-right {
  padding: 0px 2px 0px 2px;
}

/* ### PER-MODULE CUSTOMIZATIONS ### */

/* Workspaces */
#workspaces {
  margin: 2px 0px 2px 0px;
  padding: 0;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

#workspaces button {
  background: transparent;
  color: @color8;

  border-radius: 8px;

  padding: 0px 2px;
  margin: 0;
}

#workspaces button:hover {
  background: @color3;
  color: @color14;
}

#workspaces button.active {
  color: @color15;
}

/* Media Player */
#custom-media {
  padding: 0px 4px 0px 4px;
  margin: 2px 0px 2px 0px;
  
  background-color: rgba(255, 255, 255, 0.1);
  border-radius:8px;
  color: @theme_text_color;
}

/* UPower (Battery) */

#upower image {
  margin-right: 4px;
}

/* Tray */
#tray {
  background: rgba(255, 255, 255, 0.2);
  
  border-radius: 8px;
  
  margin: 2px 0px 2px 0px;
  padding: 0px 2px 0px 2px;
}

#tray menu {
  background: @theme_base_color;
  color: @theme_text_color;
}

/* Custom modules */
#custom-silent,
#custom-lightdark {
  background: rgba(255, 255, 255, 0.1);
  
  padding: 0px 6px 0px 6px;
  margin: 2px 0px 2px 0px;
  
  border-radius: 8px;
  
  color:@color14;
  transition: 0.4s;
}

#custom-silent:hover,
#custom-lightdark:hover {
  background: @color5;
  color:@color4;
}

#custom-power,
#custom-reboot,
#custom-lock,
#custom-quit {
    margin: 2px 0px 2px 2px;
    padding: 0px 6px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.6rem;
}


#custom-power:hover,
#custom-reboot:hover,
#custom-lock:hover,
#custom-quit:hover {
    background: rgba(255, 255, 255, 0.4);
    transition: 0.2s;
}

#custom-power { 
    color: #CA5232;
}

#custom-reboot {
    color: #CA8332;
}

#custom-lock {
    color: #B5CA32;
}

#custom-quit {
    color: #32B3CA;
}
