@import url("../../.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0px;
    font-family: Roboto, FontAwesome, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    padding: 0;
    margin: 0;
    color: @color15;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

/* Modules Box */
#workspaces,
#custom-lightdark,
#custom-silent,
#clock,
#temperature,
#wireplumber,
#upower,
#tray,
#custom-powermenu {
    margin: 5px 2px 0px 2px;
    padding: 0px 10px 0px 10px;

    background:
        /* Background */
        linear-gradient(@background, @background) padding-box,
        /* Border */
        linear-gradient(to right, @color3, @color4, @color5) border-box;


    border: 2px solid transparent;
    border-radius: 0.8em;
}

/* Window */
/* window #waybar .empty #window {
	opacity: 1;
}*/

/* ### PER-MODULE CUSTOMIZATIONS ### */

/* 1) Workspaces */
#workspaces {
    padding: 2px 4px 2px 4px;
}

#workspaces button {
    background: @color4;
    color: @color8;

    padding: 0px 5px 0px 4px;
    margin: 0px 2px 0px 2px;
    border-radius: 0.5em;
}

#workspaces button:hover {
    background: @color3;
}

#workspaces button.active {
    color: @color15;
}

/* 2) Light/Dark Switch */
#custom-lightdark {
    padding: 0px 14px 0px 8px;
}

/* 3) Silent Mode (Notifications Switch) */

/* 4) Clock */

/* 5) Temperature */

/* 6) Wireplumber */

/* 7) UPower (Battery) */

#upower image {
    margin-right: 4px
}

/* 8) Tray */
#tray menu {
    background: @background;
    color: @color15;
}

/* 9) Logout (wlogout) */
#custom-powermenu {
     padding: 0px 12px 0px 8px;
}

